@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
*{
  line-height: 1.6;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
h2{
  font-size: 4rem !important;
  font-weight: 800 !important;
  /* color: red; */
}

.hero{
  background-image: url('../src/images/banner-pattern.f9c26340.svg');
  max-height: 600px;
  padding: 2rem 0 0;
  overflow: hidden;
}

.hero-text{
  /* background-color: teal; */
  color: #fff;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.hero-text p{
  font-size: 2rem;
}
.hero-right{
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.new-section{
  padding-top: 6rem;

}
.goals-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.card-item{
  cursor: pointer;

}
.card-item:hover{
  background-color: rgb(32, 32, 56);
  color: #fff;
}
.chama{
  height: 400px;
  background-image: url("../src/images/chama.2f930712.png");
  background-position:center ;
  background-size: contain;
  background-repeat: no-repeat;
}
.card-process{
  padding:3rem;
  background-color: thistle;
}
.leaderboard{
  height: 900px;
  background-image: url('../src/images/competition.b8a95f11.png');
  /* background-color: wheat; */
  /* background-position:center ; */
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 6rem;
}