@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
* {
  line-height: 1.6;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
.container{
   max-width: 1170px !important;
}
h2 {
  font-size: 3rem !important;
  font-weight: 800 !important;
  padding: 2rem 0 !important;
}

.hero {
  background-image: url("../src/images/banner-pattern.f9c26340.svg");
  background-position: center;
  background-size: cover;
  height: 500px;
  overflow: hidden;
}

.hero-text {
  color: #fff;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-text p {
  font-size: 1.5rem;
}
.hero-right {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.new-section {
  padding-top: 5rem;
  padding-bottom: 1rem;
}
.goals-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-item {
  cursor: pointer;
}
.card-item:hover {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  color: #fff;
}
.chama {
  padding: 0;
  height: 700px;
  background-image: url("../src/images/chama.2f930712.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.leaderboard {
  height: 900px;
  background-image: url("../src/images/competition.b8a95f11.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.calltoAction {
  color: whitesmoke;
  height: 150px;
  padding: 0 1rem;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  border-radius: 5px;
}
.contact-fluid{
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  /* background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);/ */
  color: whitesmoke;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact svg{
  font-size: 2rem;
  margin-bottom: 1rem;
}
.footer{
  height: 200px;
  border-top:solid 1px #ddd ;
  padding-top: 1rem;
}
.footer-menu{
  list-style-type: none;
  padding: 0;
  
}
.footer-menu li a{
  text-decoration: none;
  color: inherit;
}
.footer-menu li a:hover{
  text-decoration: underline;
  color: inherit;
}
.social-media{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content:center;
  padding: 0px;
  

}
.social-media li{
  margin-left: 2rem;
}
.social-media li:hover{
  transform: scale(1.5);
  transition: all 0.75s ease-in-out;
}
.social-media li a{
  color:rgb(134, 134, 134);
}

@media screen and (max-width:768px) {
  .hero-right{
    display: none;
  }
  h2{
    text-align: center;
  }
  .calltoAction{
    padding: 1rem;
    height: auto;
  }
  .footer p{
    display: none;
  }
  .social-media li{
    margin-bottom: 0.5rem;
  }
  .leaderboard , .chama{
    height: 500px;
  }
}

.scroll-to-top {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  animation: fadeIn 700ms ease-in-out 1s both;
  cursor: pointer;
}
.scrolltotop-icon svg {
  width: 2rem;
  height: 2rem;
  color: rgb(231, 55, 55);
}